

#page{
    background-color: rgb(252, 250, 247);
    justify-content: center;
    border: solid 3px;
    margin: 80px 80px;
    border: 3px none;
    border-radius: 30px;
}

ul {
    list-style-type: none;
    margin-top: 1px;
    padding: 1px;
    padding-left: 600px;
    overflow: hidden;
    background-color: #fcfcfc;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    justify-content: space-evenly;
    color: rgb(7, 6, 6);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }


    .logo{
        width: 5px;
    }

        button{
        width: 150px;
        background-color: rgb(5, 114, 227);
        color: #ffffff;
        border: none;
        margin-left: 5px;
        margin-right: 5px;
        padding: 12px;
        border-radius: 20px;
      }

      #icons{
        padding-top: 20px;
        padding-left: 500px;
        color: rgb(8, 43, 156);
      }

      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 300px;
      }
       
       .image1 {
        float: right;
        padding-left: 300px;
        border-radius: 50%;
        width: 200px;
        height: 240px;
       }

       .text {
        padding-left: 20px;
        padding-top: 5%;
        float: left;
      }

       .container1 {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 300px;
      }
      
      .picture {
        float: left;
        padding-right: 300px;
      }

      .text2 {
        padding-right: 100px;
        padding-top: 5%;
        float: right;
      }

      .container2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 300px;
        
      }
       
       .image2 {
        display: flex;
        float: right;
        padding-left: 200px;
        padding-top: 100px;
        width: 60px;
       }

       .text3 {
        padding-left: 20px;
        padding-top: 5%;
        float: left;
      }


      .tin{
        text-align: center;
        padding-top: 100px;
      }


      * {
        box-sizing: border-box;
      }
      
      .column {
        float: left;
        width: 33.33%;
        padding-left: 150px;
        padding-right: 150px;
        height: 300px;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .figure{
        text-align: justify;
        text-indent: 50px;
      }

      .tin1{
        text-align: center;
        padding-top: 200px;
      }

      .row1{
        display: flex;
        flex: content;
        margin-bottom: 5%;
        width: 80%;
        padding-top: 30px;
        padding-left: 300px;
        padding-right: 100px;
      }

      .pg{
        text-align: center;
      }

      .tin2{
        text-align: center;
      }

      .row2{
        display: flex;
        margin-bottom: 5%;
        width: 100%;
        padding-top: 30px;
        padding-left: 300px;
        padding-right: 100px;
      }


      .row3{
        display: flex;
        margin-bottom: 5%;
        width: 100%;
        padding-top: 30px;
        padding-left: 300px;
        padding-right: 100px;
        justify-content: space-evenly;
        padding-right: 300px;
      }

      .centre{
        text-align: center;
      }

      .row{
        display: flex;
        margin-bottom: 5%;
        padding-top: 100px;
        padding-top: 30px;
        padding-left: 100px;
        padding-right: 100px;
      }

      /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

#form{
  border-bottom: solid;
  border-top: solid;
  border-color: rgb(202, 200, 200);
}